redis:
  host: localhost
  port: 6379
  
queue:
  pool: 30
  concurrency: 3
  namespace: "np_sidekiq"
  database: 0
  queues:
    - default

job:
  url: "https://www.rkecloud.com/myjobs"
  
crons:
  -
    name: "CheckServerStatus"
    url: "https://www.rkecloud.com/mycrons"
    times: 5   # 分钟为单位，这里表示每5分钟执行一次
  -
    name: "CheckUserStatus"
    url: "https://www.rkecloud.com/mycrons"
    times: 5